body{
  background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
}

 html {
    height: 100%;
}



#header{
  text-align: center;
  color: blue;
}

#title{
  text-align: left;
  color:#01B4DC;
  margin:20px;
  margin-left: 50px;

}

#statement{
  text-align: left;
  font-size: 35px;
}

#content{
  margin-top: 5%;
}

.button{

}

#nextweight{
  display: none;
}

#selectparties{
  display: none;
}

.myField{
  margin-left:40px;
}

.checkbox{
  margin-left:20px;
}

.resulttext{
  margin-right:30px;
  color:red;
}
